.about {
    background-color: $color-light;
    padding: 80px 0 100px 0;
}

.about__container {
    display: flex;
    justify-content: center;
}

.about__img-container {
    background-image: url("../../src/img/about/about.png");
    width: 300px;
    height: 408px;
    @extend %img-container;
}

.about__content {
    max-width:430px;
    padding-left: 120px;
}

.about__title {
    max-width: 370px;
    padding-top: 14px;
    padding-bottom: 25px;
    color: $color-dark-l;
}

.about__text {
    @extend %font-add;
    color: $color-dark-xl;
}

.about__text + .about__text {
    padding-top: 25px;
}
