.friends {
    background-color: $color-background-main;
    padding: 80px 0 100px;
    @media (max-width: 620px) {
        padding-top: 46px;
        padding-bottom: 46px;
    }
}

.friends__container {
    min-height: 697px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    &>.button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 261px;
        height: 52px;
    }


}

.friends__title {
    max-width: 400px;
    text-align: center;
    white-space: pre-line;
    color: $color-dark-l;
}

.slider {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: 400px) {
        flex-wrap: wrap;
        justify-content: center;
        >:nth-child(1) {
            order: 1;
            margin-right: 80px;
        }
        >:nth-child(3) {
            order: 2;
        }

    }
}

.slider__container {
    display:flex;
    justify-content: space-between;
    overflow: hidden;
    max-width: 990px;
    @media (max-width: 1200px) {
        max-width: 630px;
        align-items: center;
    }
    @media (max-width: 800px) {
        max-width: 570px;
    }
    @media (max-width: 760px) {
        max-width: 270px;
    }
}

.slider__line {
    display: flex;
    @extend %transition;
    >.slider__item {
        margin-right: 90px;
        @media (max-width: 800px) {
            margin-right: 40px;
        }

    }
}

.slider__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $color-background-additional;
    border-radius: 9px;
    &>button {
        margin-bottom: 30px;
        width: 187px;
        height: 52px;
    }
    &:hover {
        cursor: pointer;
        background-color: $color-light;
        box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
    }
    &:hover button {
        background-color: $color-hovered;
        border-color: $color-hovered;
    }
    @extend %transition;
    @media (max-width: 400px) {
        margin-bottom: 20px;
    }

}

.slider__img {
    width: 270px;
    height: 270px;
    padding-bottom: 30px;
}

.slider__title {
    @include font($size: 2rem, $height: 2.3rem);
    color: $color-dark-l;
    padding-bottom: 30px;
}
