.friends {
    background-color: $color-background-main;
    padding: 80px 0 100px;
}

.friends__container {
    min-height: 697px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    &>.button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 261px;
        height: 52px;
    }
}

.friends__title {
    max-width: 400px;
    text-align: center;
    white-space: pre-line;
    color: $color-dark-l;
}

.slider {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.slider__container {
    overflow: hidden;
    max-width: 990px;
}

.slider__line {
    display: flex;
    @extend %transition;
    >.slider__item {
        margin-right: 90px;
    }
}

.slider__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $color-background-additional;
    border-radius: 9px;
    &>button {
        margin-bottom: 30px;
        width: 187px;
        height: 52px;
    }
    &:hover {
        cursor: pointer;
        background-color: $color-light;
        box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
    }
    &:hover button {
        background-color: $color-hovered;
        border-color: $color-hovered;
    }
    @extend %transition;
}

.slider__img {
    width: 270px;
    height: 270px;
    padding-bottom: 30px;
}

.slider__title {
    @include font($size: 2rem, $height: 2.3rem);
    color: $color-dark-l;
    padding-bottom: 30px;
}
