.help {
    background-color: $color-light;
    padding-top: 80px;
    padding-bottom: 100px;
    @media (max-width: 620px) {
        padding: 42px 0;
    }
}

.help__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.help__title {
    max-width: 308px;
    text-align: center;
    padding-bottom: 60px;
    white-space: pre;
    color: $color-dark-l;
    @media (max-width: 620px) {
        padding-bottom: 40px;
    }
}

.help__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 55px 119px;
    max-width: 1026px;
    @media (max-width: 1120px) {
        gap: 55px 60px;
        max-width: 630px;
        >.help__item {
            width: 170px;
        }
    }
    @media (max-width: 620px) {
        gap: 30px 30px;
        >.help__item {
            width: 130px;
        }
    }
    @media (max-width: 350px) {
        justify-content: flex-start;
        margin-left: 4px;
    }
}


.help__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &>.ico {
        margin-bottom: 30px;
    }
    @media (max-width: 620px) {
        &>.ico {
            margin-bottom: 20px;
        }
    }
}


// .help__item:last-child {
//     @media (max-width: 350px) {
//         align-self: flex-start;
//     }
// }


.ico--food {
    background-image: url("../../src/img/help/pet-food.svg");
    width: 60px;
    height: 60px;
    @extend %img-container;
    @media (max-width: 620px) {
        width: 50px;
        height: 50px;
    }
}

.ico--transportation {
    background-image: url("../../src/img/help/transportation.svg");
    width: 60px;
    height: 60px;
    @extend %img-container;
    @media (max-width: 620px) {
        width: 50px;
        height: 50px;
    }
}

.ico--toys {
    background-image: url("../../src/img/help/toys.svg");
    width: 60px;
    height: 60px;
    @extend %img-container;
    @media (max-width: 620px) {
        width: 50px;
        height: 50px;
    }
}

.ico--bowls-and-cups {
    background-image: url("../../src/img/help/bowls-and-cups.svg");
    width: 60px;
    height: 60px;
    @extend %img-container;
    @media (max-width: 620px) {
        width: 50px;
        height: 50px;
    }
}

.ico--shampoos {
    background-image: url("../../src/img/help/shampoos.svg");
    width: 60px;
    height: 60px;
    @extend %img-container;
    @extend %img-container;
    @media (max-width: 620px) {
        width: 50px;
        height: 50px;
    }
}

.ico--vitamins {
    background-image: url("../../src/img/help/vitamins.svg");
    width: 60px;
    height: 60px;
    @extend %img-container;
    @media (max-width: 620px) {
        width: 50px;
        height: 50px;
    }
}

.ico--medicines {
    background-image: url("../../src/img/help/medicines.svg");
    width: 60px;
    height: 60px;
    @extend %img-container;
    @media (max-width: 620px) {
        width: 50px;
        height: 50px;
    }
}

.ico--collars-leashes {
    background-image: url("../../src/img/help/collars-leashes.svg");
    width: 60px;
    height: 60px;
    @extend %img-container;
    @media (max-width: 620px) {
        width: 50px;
        height: 50px;
    }
}

.ico--sleeping-area {
    background-image: url("../../src/img/help/sleeping-area.svg");
    width: 60px;
    height: 60px;
    @extend %img-container;
    @media (max-width: 620px) {
        width: 50px;
        height: 50px;
    }
}


.help__text {
    color: $color-dark-l;
}
