.navigation {
    display: flex;
    @extend %font-add;
    @media (max-width: 767px) {
        position: fixed;
        z-index: 10;
        transition: right 0.6s ease;
        top: 0;
        right: -150%;
        bottom: 0;
        width: 320px;
        background-color: $color-text;
        margin-top: 0;
        margin-bottom: 0;
        flex-direction: column;
        align-items: center;
        padding-top: 250px;
        padding-left: 0;
        @include font($size: 3.2rem, $height: 5.2rem, $spacing: 0);
        &--open {
            right: 0;
        }
    }
}

.navigation__item {
    list-style: none;
    padding: 0 17.5px;
    &:last-child {
        padding-right: 0;
    }
    @media (max-width: 767px) {
        padding-bottom: 40px;
        &:last-child {
            padding-right: 17.5px;
        }
    }
}

.navigation__link {
    transition: all 0.2s ease;
}
