.not-only__container {
    display: flex;
    justify-content: space-between;
    @media (max-width: 1100px) {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

.not-only__content {
    max-width: calc(460/1200*100%);
    &>.button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 205px;
        height: 50px;
        @media (max-width: 1100px) {
            align-self: center;
        }
    }
    padding: 165px 0px 0px 0px;
    @media (max-width: 1100px) {
        max-width: 100%;
        padding: 0px 70px 100px 70px;
        display: flex;
        flex-direction: column;
    }
    @media (max-width: 768px) {
        max-width: calc(460/708*100%);
    }
    @media (max-width: 320px) {
        max-width:300px;
        padding: 0 0 105px 0;
        align-items: center;
    }
}

.not-only__title {
    max-width: 310px;
    padding-bottom: 42px;
    color: $color-light;
    @media (max-width: 320px) {
        max-width: 250px;
        text-align: center;
    }
}

.not-only__text {
    @extend %font-add;
    padding-bottom: 42px;
    color: $color-additional;
    @media (max-width: 320px) {
        max-width: 300px;
        max-height: 96px;
        text-align: center;
    }
}

.not-only__img-container {
    background-image: url("../../src/img/not-only/not-only.png");
    width: 698px;
    height: 728px;
    background-size: cover;
    background-repeat: no-repeat;

    @media (max-width: 1200px) {
        width: 569px;
        height: 593px;
        align-self: flex-end;
    }
    @media (max-width: 620px) {
        width: 260px;
        height: 272px;
    }
}
