.not-only__container {
    display: flex;
    justify-content: space-between;
}

.not-only__content {
    padding: 163px 42px 0 0;
    max-width: 460px;
    &>button {
        width: 207px;
        height: 52px;
    }
}

.not-only__title {
    max-width: 310px;
    padding-bottom: 42px;
    color: $color-light;
}

.not-only__text {
    @extend %font-add;
    padding-bottom: 42px;
    color: $color-additional;
}

.not-only__img-container {
    background-image: url("../../src/img/not-only/not-only.png");
    width: 698px;
    height: 728px;
    @extend %img-container;
}
