.pagination__container {
    display: flex;
    justify-content: space-between;
    width: 340px;
    @media (max-width: 1000px) {
        padding-top: 10px;
    }
    @media (max-width: 620px) {
        padding-top: 0px;
    }
    @media (max-width: 360px) {
        max-width: 300px;
    }
}
