.popup {
    z-index: 5;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    transition: 0.2s ease-out;
    &--active {
        opacity: 1;
    }
}

.wrapper {
    position: relative;
    >.btn-round {
        position: absolute;
        top: -54px;
        right: -42px;
        @media (max-width: 760px) {
            top: -52px;
            right: -30px;
        }

    }
}

.popup__container {
    display: flex;
    width: 900px;
    height: 500px;
    border-radius: 9px;
    background-color: $color-background-additional;
    @media (max-width: 1200px) {
        width: 630px;
        height: 350px;
    }
    @media (max-width: 760px) {
        width: 240px;
        height: auto;
    }
}

.popup__img {
    width: 500px;
    height: 500px;
    border-radius: 9px;
    @media (max-width: 1200px) {
        width: 350px;
        height: 350px;
    }
    @media (max-width: 760px) {
        display:none;
    }
}

.popup__content {
    padding: 50px 20px 88px 29px;
    @media (max-width: 1200px) {
        padding: 10px 8px 37px 11px;
    }
    @media (max-width: 760px) {
        padding: 10px;
    }
}

.popup__title {
    padding-bottom: 10px;
    @media (max-width: 760px) {
        @include font($size: 3.5rem, $height: 4.6rem);
        text-align: center;

    }
}

.popup__subtitle {
    padding-bottom: 40px;
    @media (max-width: 1200px) {
        padding-bottom: 20px;
    }
    @media (max-width: 760px) {
        @include font($size: 2.0rem, $height: 2.3rem);
        text-align: center;

    }
}

.popup__text {
    max-width: 350px;
    padding-bottom: 35px;
    @media (max-width: 1200px) {
        padding-bottom: 17px;
        @include font($size: 1.3rem, $height: 1.4rem)
    }
    @media (max-width: 760px) {
        text-align: justify;
        padding-bottom: 20px;

    }
}

.popup__list {
    margin: 0;
    padding-left: 15px;
    li {
        color: $color-primary;
    }
}

.popup__li {
    padding-top: 0;
    margin: 0;
    padding-bottom: 8px;
    @media (max-width: 1200px) {
        padding-bottom: 3px;
    }
}

.popup__list-item {
    color: $color-dark;
}
