.button {
    padding: 15px 45px;
    border-radius: 100px;
    font-family: 'Georgia', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.7rem;
    line-height: 2.2rem;
    cursor: pointer;
    @extend %transition;
    &--colored {
        background-color: $color-primary;
        color: $color-text;
        border: 1px solid $color-primary;
        &:hover {
            background-color: $color-hovered;
            border-color: $color-hovered;;
        }
    }
    &--bordered {
        background-color: inherit;
        border: 2px solid $color-primary;
        color: $color-text;
        &:hover {
            background-color: $color-hovered;
            border-color: $color-hovered;
        }
    }
}

.btn-round {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid $color-primary;
    background: $color-background-main;
    display: flex;
    justify-content: center;
    align-items: center;
    @extend %transition;
    cursor: pointer;
    &:hover {
        background-color: $color-hovered;
        border-color: $color-hovered;
    }
}

.btn-round--arrow-left {
    background: url("../../src/img/icons/arrow-left.svg");
    width: 14px;
    height: 6px;
    background-repeat: no-repeat;
}

.btn-round--arrow-right {
    background: url("../../src/img/icons/arrow-right.svg");
    width: 14px;
    height: 6px;
    background-repeat: no-repeat;
}
