.button {
    border-radius: 100px;
    @extend %font-primary;
    @include font($size: 1.7rem, $height: 2.2rem);
    cursor: pointer;
    @extend %transition;
    &--colored {
        background-color: $color-primary;
        color: $color-text;
        border: 1px solid $color-primary;
        &:hover {
            background-color: $color-hovered;
            border-color: $color-hovered;;
        }
    }
    &--bordered {
        background-color: inherit;
        border: 2px solid $color-primary;
        color: $color-text;
    }
}

.btn-round {
    flex-shrink: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    @extend %transition;
    background-color: inherit;
    border: 2px solid $color-primary;
    color: $color-text;
    &:hover {
        cursor: pointer;
        background-color: $color-hovered;
        border-color: $color-hovered;
    }
    &--colored {
        background-color: $color-primary;
        color: $color-text;
        border: 1px solid $color-primary;
        &:hover {
            cursor: pointer;
            background-color: $color-hovered;
            border-color: $color-hovered;;
        }
    }
    &--inactive {
        border: 2px solid $color-additional;
        color: $color-additional;
        &:hover {
            cursor: default;
            background-color: inherit;
            border-color: $color-additional;
        }
    }
}



.btn-round--arrow-left {
    background: url("../../src/img/icons/arrow-left.svg");
    width: 14px;
    height: 6px;
    background-repeat: no-repeat;
}

.btn-round--arrow-right {
    background: url("../../src/img/icons/arrow-right.svg");
    width: 14px;
    height: 6px;
    background-repeat: no-repeat;
}
