$color-background-main: #F6F6F6;
$color-background-additional: #FAFAFA;
$color-background-modal: rgba(41, 41, 41, 0.6);

$color-light: #FFFFFF;
$color-dark: #000000;

$color-dark-l: #545454;
$color-dark-xl: #4C4C4C;

$color-primary: #F1CDB3;
$color-additional: #CDCDCD;

$color-hovered: #FDDCC4;
$color-text: #292929;
$color-text-additional: #B2B2B2;
