$color-background-gradient: radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
$color-background-main: #F6F6F6;
$color-background-additional: #FAFAFA;
$color-background-modal: rgba(41, 41, 41, 0.6);

$color-light: #FFFFFF;
$color-dark: #000000;
$color-primary: #F1CDB3;
$color-additional: #CDCDCD;

$color-hovered: #FDDCC4;
$color-text: #292929;
$color-text-additional: #B2B2B2;


$content-width: 1280px;
$tablet-width: 768px;
$mobile-big-width: 414px;
$mobile-small-width: 320px;
