%transition {
    transition: all .3s ease-out;
}

%font-primary {
    font-family: 'Georgia', serif;
}

%font-add {
    font-family: 'Arial', sans-serif;
}

%img-container {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
