/*! normalize-scss | MIT/GPLv2 License | bit.ly/normalize-scss */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
}

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
figcaption,
figure {
  display: block;
}

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * Add the correct display in IE.
 */
main {
  display: block;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Links
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent; /* 1 */
  -webkit-text-decoration-skip: objects; /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic;
}

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 */
button {
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select { /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button; /* 2 */
}

button,
[type=button],
[type=reset],
[type=submit] {
  /**
   * Remove the inner border and padding in Firefox.
   */
  /**
   * Restore the focus styles unset by the previous rule.
   */
}
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Show the overflow in Edge.
 */
input {
  overflow: visible;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
  /**
   * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
   */
}
[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box; /* 1 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  color: inherit; /* 2 */
  white-space: normal; /* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto;
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Add the correct display in IE 9-.
 */
menu {
  display: block;
}

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */
template {
  display: none;
}

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none;
}

.slider__line, .btn-round, .button {
  transition: all 0.3s ease-out;
}

body {
  font-family: "Georgia", serif;
}

.not-only__text, .donation__text, .about__text, .navigation, .logo__subtitle {
  font-family: "Arial", sans-serif;
}

.not-only__img-container, .donation__img-container, .about__img-container, .footer__img-container {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.5rem;
  line-height: 2.4rem;
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3, h4, h5, p {
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 3.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.5rem;
  letter-spacing: 0.06em;
}

h2 {
  font-size: 4.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 5.7rem;
  letter-spacing: 0;
}

h3 {
  font-size: 3.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 4.5rem;
  letter-spacing: 0.06em;
}

h4 {
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.3rem;
  letter-spacing: 0.06em;
}

h5 {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.7rem;
  letter-spacing: 0.06em;
}

.ico {
  display: block;
  background-repeat: no-repeat;
  cursor: pointer;
}

.button {
  border-radius: 100px;
  font-family: "Georgia", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.7rem;
  line-height: 2.2rem;
  letter-spacing: 0.06rem;
  cursor: pointer;
}
.button--colored {
  background-color: #F1CDB3;
  color: #292929;
  border: 1px solid #F1CDB3;
}
.button--colored:hover {
  background-color: #FDDCC4;
  border-color: #FDDCC4;
}
.button--bordered {
  background-color: inherit;
  border: 2px solid #F1CDB3;
  color: #292929;
}
.button--bordered:hover {
  background-color: #FDDCC4;
  border-color: #FDDCC4;
}

.btn-round {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #F1CDB3;
  background: #F6F6F6;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.btn-round:hover {
  background-color: #FDDCC4;
  border-color: #FDDCC4;
}

.btn-round--arrow-left {
  background: url("../../src/img/icons/arrow-left.svg");
  width: 14px;
  height: 6px;
  background-repeat: no-repeat;
}

.btn-round--arrow-right {
  background: url("../../src/img/icons/arrow-right.svg");
  width: 14px;
  height: 6px;
  background-repeat: no-repeat;
}

.container {
  max-width: 1200px;
  margin: auto;
}

.common-background {
  background-image: url("../img/not-only/background.png"), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%);
}

.header {
  padding: 60px 0;
}

.header__container {
  display: flex;
  justify-content: space-between;
}

.logo__title {
  color: #F1CDB3;
}

.logo__subtitle {
  padding-top: 10px;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
  letter-spacing: 0.14rem;
  color: #FFFFFF;
}

.navigation {
  display: flex;
  color: #FAFAFA;
}

.navigation__item {
  list-style: none;
  padding: 0 17.5px;
}
.navigation__item:last-child {
  padding-right: 0;
}

.navigation__link:hover {
  border-bottom: 3px solid #F1CDB3;
}
.navigation__link--underlined {
  padding-bottom: 5px;
  border-bottom: 3px solid #F1CDB3;
}

.footer {
  background-image: url("../img/not-only/background.png"), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%);
  padding-top: 40px;
}

.footer__container {
  display: flex;
  justify-content: space-between;
}

.footer__contacts {
  padding-top: 16px;
  max-width: 279px;
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}

.footer__title {
  color: #FFFFFF;
}

.footer__email, .footer__number, .footer__location-1, .footer__location-2 {
  display: flex;
  justify-content: start;
  align-items: center;
}

.footer__location-1 {
  margin-top: -16px;
}

.footer__location-2 {
  margin-top: -22px;
}

.footer__subtitle {
  text-align: center;
  color: #F1CDB3;
}

.footer__address {
  padding-top: 16px;
  max-width: 302px;
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}

.footer__img-container {
  background-image: url("../../src/img/footer/footer-puppy.png");
  width: 300px;
  height: 310px;
}

.ico--email {
  background-image: url("../../src/img/footer/icon-email.svg");
  width: 40px;
  height: 32px;
  padding-right: 20px;
}

.ico--phone {
  background-image: url("../../src/img/footer/icon-phone.svg");
  width: 40px;
  height: 32px;
  padding-right: 20px;
}

.ico--location-1 {
  background-image: url("../../src/img/footer/icon-marker.svg");
  width: 45px;
  height: 67px;
  background-position: center;
}

.ico--location-2 {
  background-image: url("../../src/img/footer/icon-marker.svg");
  width: 26px;
  height: 40px;
  margin-right: 15px;
}

.about {
  background-color: #FFFFFF;
  padding: 80px 0 100px 0;
}

.about__container {
  display: flex;
  justify-content: center;
}

.about__img-container {
  background-image: url("../../src/img/about/about.png");
  width: 300px;
  height: 408px;
}

.about__content {
  max-width: 430px;
  padding-left: 120px;
}

.about__title {
  max-width: 370px;
  padding-top: 14px;
  padding-bottom: 25px;
  color: #545454;
}

.about__text {
  color: #4C4C4C;
}

.about__text + .about__text {
  padding-top: 25px;
}

.donation {
  background-color: #F6F6F6;
  padding-top: 80px;
  padding-bottom: 100px;
}

.donation__container {
  display: flex;
  justify-content: center;
}

.donation__img-container {
  margin-top: 11px;
  background-image: url("../../src/img/donation/donation-dog.png");
  width: 505px;
  height: 261px;
}

.donation__content {
  max-width: 380px;
  padding-left: 30px;
}

.donation__title {
  max-width: 300px;
  text-align: start;
  padding-bottom: 20px;
  color: #545454;
}

.donation__subtitle {
  padding-bottom: 20px;
  color: #545454;
}

.card-container {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 349px;
  height: 43px;
  background-color: #F1CDB3;
  border-radius: 9px;
  color: #545454;
}

.card-container__ico {
  background-image: url("../../src/img/donation/credit-card.svg");
  width: 30px;
  height: 23px;
  margin-left: 15px;
}

.card-container__number {
  padding-left: 15px;
}

.donation__text {
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.8rem;
  letter-spacing: 0;
  color: #B2B2B2;
  padding-top: 20px;
}

.friends {
  background-color: #F6F6F6;
  padding: 80px 0 100px;
}

.friends__container {
  min-height: 697px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.friends__container > button {
  width: 261px;
  height: 52px;
}

.friends__title {
  max-width: 400px;
  text-align: center;
  white-space: pre-line;
  color: #545454;
}

.slider {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.slider__container {
  overflow: hidden;
  max-width: 990px;
}

.slider__line {
  display: flex;
}

.slider__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FAFAFA;
  border-radius: 9px;
  margin-right: 90px;
}
.slider__item > button {
  margin-bottom: 30px;
  width: 187px;
  height: 52px;
}

.slider__img {
  width: 270px;
  height: 270px;
  padding-bottom: 30px;
}

.slider__title {
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.3rem;
  letter-spacing: 0.06em;
  color: #545454;
  padding-bottom: 30px;
}

.help {
  background-color: #FFFFFF;
  padding-top: 80px;
  padding-bottom: 100px;
}

.help__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.help__title {
  max-width: 308px;
  text-align: center;
  padding-bottom: 60px;
  white-space: pre;
  color: #545454;
}

.help__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 55px 119px;
  max-width: 1026px;
}

.help__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.help__item > .ico {
  padding-bottom: 30px;
}

.ico--food {
  background-image: url("../../src/img/help/pet-food.svg");
  width: 60px;
  height: 60px;
}

.ico--transportation {
  background-image: url("../../src/img/help/transportation.svg");
  width: 60px;
  height: 60px;
}

.ico--toys {
  background-image: url("../../src/img/help/toys.svg");
  width: 60px;
  height: 60px;
}

.ico--bowls-and-cups {
  background-image: url("../../src/img/help/bowls-and-cups.svg");
  width: 60px;
  height: 60px;
}

.ico--shampoos {
  background-image: url("../../src/img/help/shampoos.svg");
  width: 60px;
  height: 60px;
}

.ico--vitamins {
  background-image: url("../../src/img/help/vitamins.svg");
  width: 60px;
  height: 60px;
}

.ico--medicines {
  background-image: url("../../src/img/help/medicines.svg");
  width: 60px;
  height: 60px;
}

.ico--collars-leashes {
  background-image: url("../../src/img/help/collars-leashes.svg");
  width: 60px;
  height: 60px;
}

.ico--sleeping-area {
  background-image: url("../../src/img/help/sleeping-area.svg");
  width: 60px;
  height: 60px;
}

.help__content {
  display: flex;
  flex-wrap: wrap;
}

.help__text {
  color: #545454;
}

.not-only__container {
  display: flex;
  justify-content: space-between;
}

.not-only__content {
  padding: 163px 42px 0 0;
  max-width: 460px;
}
.not-only__content > button {
  width: 207px;
  height: 52px;
}

.not-only__title {
  max-width: 310px;
  padding-bottom: 42px;
  color: #FFFFFF;
}

.not-only__text {
  padding-bottom: 42px;
  color: #CDCDCD;
}

.not-only__img-container {
  background-image: url("../../src/img/not-only/not-only.png");
  width: 698px;
  height: 728px;
}

.about {
  background-color: #FFFFFF;
  padding: 80px 0 100px 0;
}

.about__container {
  display: flex;
  justify-content: center;
}

.about__img-container {
  background-image: url("../../src/img/about/about.png");
  width: 300px;
  height: 408px;
}

.about__content {
  max-width: 430px;
  padding-left: 120px;
}

.about__title {
  max-width: 370px;
  padding-top: 14px;
  padding-bottom: 25px;
  color: #545454;
}

.about__text {
  color: #4C4C4C;
}

.about__text + .about__text {
  padding-top: 25px;
}

/*# sourceMappingURL=style.css.map */
