.header {
    padding-top: 30px;
    padding-bottom: 90px;
    @media (max-width: 1000px) {
        padding-bottom: 60px;
    }
}

.header__container {
    display: flex;
    justify-content: space-between;
}

.logo__subtitle {
    padding-top: 10px;
    @extend %font-add;
    @include font($size: 1.3rem, $height: 1.5rem, $spacing: 0.14rem);
}

.header__logo-line {
    @media (max-width: 767px) {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 10px;
    }
}


